#header-img{
    width:50px;
    margin:auto 3%;
    border-radius:20%;
    border:solid thin;
    box-shadow:2px 2px 4px black;;
  }
  h1{
    font-family:'poiret one';
    text-shadow: 2px 1px pink;
    white-space:nowrap;
  }
  logo{
    display:flex;
    flex-direction:row;
  }
  header{
    display:grid;
    align-items:center;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    grid-column-gap: 20%;
    box-shadow:5px 5px 20px gray;
     padding-right:25px;
     padding-bottom:5px;
     background:rgb(255,240,153);
    position: fixed;
    width:96%;
    
  }
  .nav-link{
    font-family: monospace;
    font-size:1.6em;
    white-space: nowrap;
  }
  a:link{
    color:green;
    text-decoration:none;
  }
  a:hover{
    color:orange;
    transform:scale(1.2);
    text-shadow:4px 4px 4px pink;
  }
  a:visited{
    color:green;
    font-weight:bold;
  }
  a:visited:hover{
    color:orange;
    transform:scale(1.2);
    text-shadow:4px 4px 4px pink;
  }
  #nav-bar{
    display:grid;
    grid-template-columns:auto auto auto auto;
   grid-column-gap:1em;
    grid-template-rows:auto;
  }
  .titles{
    font-size:1.5em;
    font-family:poiret one;
  }
  h2{
    font-family:poiret one;
  }
  .address:link{
    color:blue;
    font-family:special elite;
    font-size:1em;
  }
  .address:visited{
    color:blue;
  }
  body{
    text-align:center;
    
  }
  body::-webkit-scrollbar{
    display:none;
  }
  .address{
    line-height:2;
  }
  #findUs{
    padding-right:25px;
    padding-bottom:5px;
    padding-top:5px;
    margin-top:80px;
  }
  #border{
    background:black;
    height:1px;
    margin: 10px 35% 10px 35%;
  }
  .service{
    font-size:1.5em;
    font-family:special elite;
    color:rgb(255,0,102);
    line-height:2;
    ;
  }
  .specialityImage{
     width:150px;
    margin:auto auto 5px auto;
    border-radius:0;
    border:solid thin;
    box-shadow:0px 0px 0px black;
  }
  #email{
    width: 60%;
    padding:10px;
  }
  #form{
    font-family:poiret one;  
    font-weight:bold;
    font-size:1.2em;
  }
  #productImage{
    width:300px;
    height:200px;
    border:solid thin;
  }
  .productPrice{
    font-family:Poiret one;
    font-size:1.2em;
    font-weight:bold;
  }
  #productCard{
    box-shadow:2px 2px 4px gray;
    padding:5% 2% 2% 2%;
    border-radius:10px;
    background:rgb(255,102,102);
    margin:0px 5px 0px 0px;
  }
  #gallery{
    display:flex;
    flex-direction:row;
    width:1050px;
    overflow-x:scroll;
    flex-wrap:nowrap;
    margin:auto auto auto auto;
  }
  #video{
    max-width:90%;
    height:auto;
  }
  #contactUs{
    font-weight:bold;
  }
  .font-type{
    font-family:special elite;
    display: inline;
    font-size:0.8em;
  }
  @media (max-width:1200px){
   header{
    display:grid;
    align-items:center;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    grid-column-gap:15%;
     box-shadow:5px 5px 20px gray;
     border-radius:25px;
     padding-right:25px;
     padding-bottom:5px;
     background:rgb(255,240,153);
  }
    #nav-bar{  display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto auto ;
    
    }
  }
  @media(max-width:1050px){
    #productImage{
    width:180px;
    height:100px;
    border:solid thin;
  }
    #gallery{
    display:flex;
    flex-direction:row;
    width:640px;
    overflow-x:scroll;
    flex-wrap:nowrap;
    margin:auto auto auto auto;
  }
  
  }
  @media (max-width:750px){
   header{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto;
    grid-row-gap:3%;
    justify-content: center;
     box-shadow:5px 5px 20px gray;
     border-radius:25px;
     padding-right:25px;
     padding-bottom:20px;
     background:rgb(255,240,153);
     width:91%;
  }
    logo{
      transform:scale(0.85);
    }
    #nav-bar{  display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto auto auto ;
    justify-content:center;
    margin-left:9%;
    }
    .nav-link{
    font-family: monospace;
    font-size:1.3em;
    white-space: nowrap;
    text-align:center;
  }
    #findUs{
      font-size:0.7em;
      margin-top:185px;
    }
    #whyChooseUs{
      font-size:0.7em;
    }
    #ourProducts{
      font-size:0.7em;
    }
    #form{
      font-size:1.1em;
    }
    #contactUs{
      font-size:0.7em;
    }
  }
  @media(max-width:640px){
    #productImage{
    width:100px;
    height:70px;
    border:solid thin;
  }
    #gallery{
    display:flex;
    flex-direction:row;
    width:365px;
    overflow-x:scroll;
    flex-wrap:nowrap;
    margin:auto auto auto auto;
  }
  }
  @media(max-width:390px){
    #productImage{
    width:90px;
    height:68px;
    border:solid thin;
  }
    #gallery{
    display:flex;
    flex-direction:row;
    width:211px;
    overflow-x:scroll;
    flex-wrap:nowrap;
    margin:auto auto auto auto;
  }
  }
  @media (max-width:300px){
   header{
    display:grid;
    align-items:center;
    grid-template-columns:auto;
    grid-template-rows:auto auto;
    grid-row-gap:3%;
    justify-content: center; 
     width:86%;
  }
    logo{
      transform:scale(0.6);
    }
    #nav-bar{  display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto auto auto ;
    justify-content:center;
    margin-left:9%;
    }
    .nav-link{
    font-family: monospace;
    font-size:1.3em;
    white-space: nowrap;
    text-align:center;
  }
    #findUs{
      font-size:0.7em;
    }
    #whyChooseUs{
      font-size:0.7em;
    }
    #productImage{
    width:90px;
    height:68px;
    border:solid thin;
  }
    #gallery{
    display:flex;
    flex-direction:row;
    width:210px;
    overflow-x:scroll;
    flex-wrap:nowrap;
    margin:auto auto auto auto;
  }
  }
  